.termnCContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.terms {
    width: 70%;
}

.terms li {
    list-style: none;
    color: gray;
    line-height: 1.9;
}

.terms p {
    color: gray
}